<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<main>
	<form action="/books/find">
		<label for="search" >Find a book</label>
		<input type="text" name="search" autocomplete="off"/>
		<button type="submit">Search</button>
	</form>
</main>


<%- include('../partials/footer') %>
