	<% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light align-items-center navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <div class="d-flex align-items-center">
        <img src="/images/icons/myLibraryIcon.png" class="inline" style="width: 50px" alt="">
        <h3 class="m-0">myLibrary</h3>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="btn btn-primary m-2" href="/books">Books</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary m-2" href="/profiles">Profiles</a>
        </li>
        <li class="nav-item">
          <% if (user) { %>
            <a class="btn btn-outline-primary m-2" href="/auth/logout">Logout</a>
          <% } else { %>
            <a href="/auth/google" class="siwg-link">
              <button type="submit" class="siwg">
                <img id="siwg-image" alt="Sign in with Google" />
              </button>
            </a>
          <% } %>
        </li>
      </ul>
    </div>
  </nav>