.logo-group {
	display: flex;
	align-items: center;
}

.profile-avatar {
	border-radius: 50%;
	border: 2px solid grey;
}

body {
	background-color: #e9eef2;
}

.specialFlex {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.cardImage {
  display: block;
  max-width: 15rem;
  width: auto;
  height: auto;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}


