.logo-group {
	display: flex;
	align-items: center;
}

.profile-avatar {
	border-radius: 50%;
	border: 2px solid grey;
}

body {
  min-height: 100vh;
	background: linear-gradient(to top right, #E9EEF2, #9f9f9f);
}

.specialFlex {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.cardImage {
  display: block;
  max-width: 15rem;
  width: auto;
  height: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}