.logo-group {
	display: flex;
	align-items: center;
}

.profile-avatar {
	border-radius: 50%;
	border: 2px solid grey;
}

body {
  min-height: 100vh;
	background: linear-gradient(to top right, #E9EEF2, #AEC0D1);
}

.navbar {
  background-color: #E9EEF2;
}

.searchbar {
  background-color: #E9EEF2;
}

.specialFlex {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.cardImage {
  display: block;
  max-width: 15rem;
  width: auto;
  height: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



